html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/* Accueil */

img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-image: url("../images/Hacker1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	z-index: -1;
}


a{
	display: inline-block;
	text-align: center;
	background: transparent;
	color: white;
	font-family: Raleway;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 2em;
	border: 1px solid white;
	border-radius: 30px;

	transition: background .25s ease-out;
	-webkit-transition: background .25s ease-out;
	-moz-transition: background .25s ease-out;
	-o-transition: background .25s ease-out;
}

a:hover {
	background: rgba(255, 255, 255, .25);
}


    

  
